<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transactions Main</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Recent</h1>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      <div item item-divider>
        {{item.subCategory.name}} : {{item.value}}
      </div>
      <!--<div ion-item *ngFor="let el of item.els">
        {{el}}
      </div>-->
    </div>
  </ion-list>
</ion-content>